/**
 * YoTimer custom styles.
 **/

.the-time,
a.start-stop,
a.icon-play,
#timer-config {
  display: none !important;
}

a.yo-timer-btn {
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #27627e;
  border-radius: 2px;
  color: #fff !important;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.yo-timer-watch {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border: 1px solid #999;
  font-size: 30px;
  color: #444;
  background: #ddd;
  box-shadow: 0 0 20px #00B5FF;
  z-index: 999999;
}

.inrbx.yo-timer-running {
  box-shadow: 0 0 20px #00B5FF;
}

.yo-timer-watch .timer-task {
  background: #555;
  color: #ddd;
  text-align: center;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
}

.yo-timer-watch time {
  padding: 5px 10px;
  display: inline-block;
  background: #fff;
}

.yo-timer-watch .yo-timer-edit,
.yo-timer-watch.editing .yo-timer-time {
  display: none;
}

.yo-timer-watch.editing .yo-timer-edit {
  display: inline-block;
}

.yo-timer-watch .icon {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.yo-timer-watch .icon:hover {
}

.yo-timer-watch .icon:before {
  line-height: 33px;
}

.yo-timer-watch .icon-stop:before {
  font-size: 90%;
  margin: 5px 10px 0;
}

.yo-timer-watch .icon-edit:before {
  font-size: 70%;
  margin: 6px 10px 0 13px;
}
